// color variants
@import 'themes-vars.module.scss';

// Custom Scroll Bar

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: $background;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $grey400;
	border-radius: 4px;
	transition: background 0.3s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: $grey500;
}

#Clouds {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	height: 100%;
	overflow: hidden;
	border-radius: 8;
	-webkit-animation: FadeIn 3.1s ease-out;
	animation: FadeIn 3.1s ease-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@-webkit-keyframes FadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes FadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.Cloud {
	position: absolute;
	width: 100%;
	background-repeat: no-repeat;
	background-size: auto 100%;
	border-radius: 8;
	height: 70px;
	-webkit-animation-duration: 120s;
	animation-duration: 120s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-name: Float, FadeFloat;
	animation-name: Float, FadeFloat;
	z-index: 1;
}
.Cloud.Foreground {
	height: 10%;
	min-height: 20px;
	z-index: 3;
	border-radius: 8;
}
.Cloud.Background {
	height: 9.09090909%;
	min-height: 8px;
	-webkit-animation-duration: 210s;
	animation-duration: 210s;
	border-radius: 8;
}
@-webkit-keyframes Float {
	from {
		transform: translateX(100%) translateZ(0);
	}
	to {
		transform: translateX(-15%) translateZ(0);
	}
}
@keyframes Float {
	from {
		transform: translateX(100%) translateZ(0);
	}
	to {
		transform: translateX(-15%) translateZ(0);
	}
}

@-webkit-keyframes FadeFloat {
	0%,
	100% {
		opacity: 0;
	}
	5%,
	90% {
		opacity: 1;
	}
}

@keyframes FadeFloat {
	0%,
	100% {
		opacity: 0;
	}
	5%,
	90% {
		opacity: 1;
	}
}
.Cloud:nth-child(10) {
	-webkit-animation-delay: -184.61538462s;
	animation-delay: -184.61538462s;
	top: 60%;
}
.Cloud.Foreground:nth-child(10) {
	-webkit-animation-duration: 80s;
	animation-duration: 80s;
	height: 50%;
}
.Cloud.Background:nth-child(10) {
	-webkit-animation-duration: 110s;
	animation-duration: 110s;
	height: 43.40909091%;
}
.Cloud:nth-child(9) {
	-webkit-animation-delay: -166.15384615s;
	animation-delay: -166.15384615s;
	top: 54%;
}
.Cloud.Foreground:nth-child(9) {
	-webkit-animation-duration: 84s;
	animation-duration: 84s;
	height: 32.5%;
}
.Cloud.Background:nth-child(9) {
	-webkit-animation-duration: 114s;
	animation-duration: 114s;
	height: 8.15909091%;
}
.Cloud:nth-child(8) {
	-webkit-animation-delay: -147.69230769s;
	animation-delay: -147.69230769s;
	top: 48%;
}
.Cloud.Foreground:nth-child(8) {
	-webkit-animation-duration: 88s;
	animation-duration: 88s;
	height: 30%;
}
.Cloud.Background:nth-child(8) {
	-webkit-animation-duration: 118s;
	animation-duration: 118s;
	height: 10.90909091%;
}
.Cloud:nth-child(7) {
	-webkit-animation-delay: -129.23076923s;
	animation-delay: -129.23076923s;
	top: 42%;
}
.Cloud.Foreground:nth-child(7) {
	-webkit-animation-duration: 92s;
	animation-duration: 92s;
	height: 27.5%;
}
.Cloud.Background:nth-child(7) {
	-webkit-animation-duration: 122s;
	animation-duration: 122s;
	height: 20.34090909%;
}
.Cloud:nth-child(6) {
	-webkit-animation-delay: -110.76923077s;
	animation-delay: -110.76923077s;
	top: 36%;
}
.Cloud.Foreground:nth-child(6) {
	-webkit-animation-duration: 96s;
	animation-duration: 96s;
	height: 25%;
}
.Cloud.Background:nth-child(6) {
	-webkit-animation-duration: 126s;
	animation-duration: 126s;
	height: 11.59090909%;
}
.Cloud:nth-child(5) {
	-webkit-animation-delay: -92.30769231s;
	animation-delay: -92.30769231s;
	top: 30%;
}
.Cloud.Foreground:nth-child(5) {
	-webkit-animation-duration: 100s;
	animation-duration: 100s;
	height: 22.5%;
}
.Cloud.Background:nth-child(5) {
	-webkit-animation-duration: 130s;
	animation-duration: 130s;
	height: 22.84090909%;
}
.Cloud:nth-child(4) {
	-webkit-animation-delay: -73.84615385s;
	animation-delay: -73.84615385s;
	top: 24%;
}
.Cloud.Foreground:nth-child(4) {
	-webkit-animation-duration: 104s;
	animation-duration: 104s;
	height: 20%;
}
.Cloud.Background:nth-child(4) {
	-webkit-animation-duration: 134s;
	animation-duration: 134s;
	height: 24.09090909%;
}
.Cloud:nth-child(3) {
	-webkit-animation-delay: -55.38461538s;
	animation-delay: -55.38461538s;
	top: 18%;
}
.Cloud.Foreground:nth-child(3) {
	-webkit-animation-duration: 108s;
	animation-duration: 108s;
	height: 17.5%;
}
.Cloud.Background:nth-child(3) {
	-webkit-animation-duration: 138s;
	animation-duration: 138s;
	height: 15.34090909%;
}
.Cloud:nth-child(2) {
	-webkit-animation-delay: -36.92307692s;
	animation-delay: -36.92307692s;
	top: 12%;
}
.Cloud.Foreground:nth-child(2) {
	-webkit-animation-duration: 112s;
	animation-duration: 112s;
	height: 15%;
}
.Cloud.Background:nth-child(2) {
	-webkit-animation-duration: 142s;
	animation-duration: 142s;
	height: 16.59090909%;
}
.Cloud:nth-child(1) {
	-webkit-animation-delay: -18.46153846s;
	animation-delay: -18.46153846s;
	top: 6%;
}
.Cloud.Foreground:nth-child(1) {
	-webkit-animation-duration: 116s;
	animation-duration: 116s;
	height: 12.5%;
}
.Cloud.Background:nth-child(1) {
	-webkit-animation-duration: 146s;
	animation-duration: 146s;
	height: 27.84090909%;
}
.Cloud {
	background-image: url('../img/cloud.webp');
}
.Cloud.Background {
	background-image: url('../img/cloud.webp');
}

.circle {
	position: absolute;
	width: 100%;
	height: 130px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 8px;
	background-image: linear-gradient(to top, #1677ff 0%, #e7f0fd 100%);
	overflow: hidden;
	z-index: 1;
}
.wave {
	width: 500px;
	height: 525px;
	position: absolute;
	top: 10%;
	left: -70%;
	margin-left: 0px;
	margin-top: -240%;
	border-radius: 35%;
	animation: wave 20s infinite linear;
}

@keyframes wave {
	from {
		transform: rotate(0deg);
	}
	from {
		transform: rotate(360deg);
	}
}

.motionSpan-card {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: $primaryLight;
	box-shadow: 0.9px 2.2px 1.8px rgba(0, 0, 0, 0.009), 2.2px 5.5px 4.4px rgba(0, 0, 0, 0.013), 4.4px 11.2px 9px rgba(0, 0, 0, 0.017), 9.1px 23px 18.6px rgba(0, 0, 0, 0.021),
		25px 63px 51px rgba(0, 0, 0, 0.03);
	display: block;
	border-radius: 1.125rem;
}

.motionSpan-card-aprox {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: $background;
	box-shadow: 0.9px 2.2px 1.8px rgba(0, 0, 0, 0.009), 2.2px 5.5px 4.4px rgba(0, 0, 0, 0.013), 4.4px 11.2px 9px rgba(0, 0, 0, 0.017), 9.1px 23px 18.6px rgba(0, 0, 0, 0.021),
		25px 63px 51px rgba(0, 0, 0, 0.03);
	display: block;
	border-radius: 1.125rem;
}

.weather-peer-hour {
	background-color: $background;
}

.weather-peer-hour .weather-peer-hour-title {
	color: $primaryMain;
}

.weather-peer-hour-subtitle,
.weather-peer-hour-subtitleweather {
	position: absolute;
}

.position-subtitle-weather {
	top: -40;
}

.weather-peer-hour-icon {
	color: $primaryDark;
	transition: all 0.15s ease-in;
}

.main-hover-effect:hover .weather-peer-hour {
	background-color: $primaryMain;
}

.main-hover-effect:hover .weather-peer-hour .weather-peer-hour-title {
	color: $paper;
}

.main-hover-effect:hover .weather-peer-hour .weather-peer-hour-value {
	color: $paper;
}

.main-hover-effect:hover .weather-peer-hour .weather-peer-hour-subtitle {
	color: $primaryLight;
}

.main-hover-effect:hover .weather-peer-hour .weather-peer-hour-subtitleweather {
	color: $primaryLight;
}

.main-hover-effect:hover .weather-peer-hour .weather-peer-hour-icon {
	color: $primaryLight;
}

.main-hover-effect .col-table:hover .weather-peer-hour-icon {
	padding-right: 100%;
	color: $primaryDark;
}

.cardAir {
	outline-width: 2px;
	outline-style: solid;
	outline-color: $primaryLight;
	background-color: $primaryMain;
	padding-top: 20px;
	padding-bottom: 20px;
	transition: all 0.3s ease-in-out;
}

.cardAir > span,
.cardAir .cardAirTitle > h3,
.cardAir .cardAirTitle > span {
	color: $grey50;
}

.cardAir:hover {
	outline-color: $primaryLight;
	background-color: $primaryLight;
	outline-style: double;
	outline-width: 10px;
}

.cardAir:hover > span,
.cardAir:hover .cardAirTitle > h3,
.cardAir:hover .cardAirTitle > span {
	color: $primaryMain;
}

/*   SKELETON CLASES   */

.transition-visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, color 0.15s ease-in;
}

.skeleton {
	display: inline-block;
	position: absolute;
	min-height: 1em;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	content: '';
	z-index: 9999999;
	border-radius: 8px;
}

.skeleton-hiden {
	opacity: 0;
	visibility: hidden;
}

.skeleton::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translateX(-100%);
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
	-webkit-animation: shimmer 5s infinite;
	animation: shimmer 5s infinite;
	content: '';
}
@-webkit-keyframes shimmer {
	100% {
		transform: translateX(100%);
	}
}
@keyframes shimmer {
	100% {
		transform: translateX(100%);
	}
}

.transition-all {
	transition: all 0.15s ease-in;
}

.col-table .weather-peer-hour-subtitle,
.col-table .weather-peer-hour-subtitleweather {
	visibility: hidden;
	opacity: 0;
	z-index: -1;
}

.col-table:hover .weather-peer-hour-subtitle,
.col-table .weather-peer-hour-subtitleweather {
	visibility: visible;
	opacity: 1;
	z-index: 0;
}

.col-sun-positions {
	position: relative;
}

.col-sun-positions:hover .iconsunset {
	transform: scale(1.5);
	margin-bottom: 30px;
}

.col-sun-positions-type {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	color: $background;
	top: 0%;
	left: 0%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.col-sun-positions:hover .col-sun-positions-type {
	visibility: visible;
	opacity: 1;
	color: $warningDark;
}

.datePredict::first-letter {
	text-transform: uppercase;
}

.container-tooltip .tooltip {
	color: $background;
	background-color: $primaryDark;
	opacity: 1;
	padding: 2;
	border-radius: 8px;
	margin-top: 10;
	z-index: 999999;
}

#canvasMain canvas {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}
